// Branding
.branding {
	flex-direction: row;
	height: $size * 4;
	padding: $size;
	width: auto;

	@include breakpoint(sm) {
		height: $size * 4.5;
		padding-left: $size * 1.5;
		padding-right: $size * 2;
	}

	.sidebar-closed & {
		@include breakpoint(sm) {
			// padding-left: $size;
			padding-left: $size;
			padding-right: $size;
			justify-content: center;
		}
	}

	.branding-index {
		width: auto !important;
	}
}

// Branding sidebar
.branding-sidebar {
	display: none;

	@include breakpoint(sm) {
		display: flex;
	}

	img {
		height: 20px;
	}
}
