// Branding
.branding {
    padding-top: $size * 0.8;
    padding-bottom: $size * 0.8;
    padding-right: 0;
    padding-left: $size;
    flex-direction: row;

    @include breakpoint(sm) {
        padding-left: $size !important;
    }

    .sidebar-closed & {
        // width: 100px;
    }
}

// Branding sidebar
.branding-sidebar {
    display: none;

    @include breakpoint(sm) {
        display: flex;
    }

    img {
        height: 20px;
    }
}