<div class="grid support">
    <div class="col-lg-6">
        <div class="support-contact support-contact--mail">
            <div class="support-contact--content">
                <h4>Can't find what you're looking for?</h4>
                <p class="lead">Lorem ipsum dolor sit amet <a href="mailto:help@cloudvane.com">consectetur adipisicing elit</a>.</p>
            </div>
            <i class="icon fa fa-envelope-o fa-4x text-light"></i>
        </div>
        <!-- /.support-contact--mail -->
    </div>
    <div class="col-lg-6">
        <div class="support-contact support-contact--phone">
            <i class="icon fa fa-phone fa-4x text-light"></i>
            <div class="support-contact--content">
                <h4>Would you like to talk to us?</h4>
                <p class="lead">Lorem ipsum dolor sit amet consectetur! <strong>+385 1 5555 600</strong></p>
            </div>
        </div>
        <!-- /.support-contact--phone -->
    </div>
</div>
<!-- /.grid -->