<div class="calendar">

    <div class="month-header">
        <span>September 2018 <i class="icon fa fa-angle-down" aria-hidden="true"></i></span>
        <ul class="month-navigation list-inline">
            <li>
                <a href="#"><i class="icon fa fa-angle-left" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <!-- .month-header -->
    
    <div class="month">
        <div class="week">
            <div class="day">1</div>
            <div class="day">2</div>
            <div class="day">3</div>
            <div class="day">4</div>
            <div class="day">5</div>
            <div class="day">6</div>
            <div class="day">7</div>
        </div>
        <div class="week">
            <div class="day">8</div>
            <div class="day">9</div>
            <div class="day">10</div>
            <div class="day">11</div>
            <div class="day">12</div>
            <div class="day">13</div>
            <div class="day">14</div>
        </div>
        <div class="week">
            <div class="day">15</div>
            <div class="day">16</div>
            <div class="day today">17</div>
            <div class="day">18</div>
            <div class="day">19</div>
            <div class="day">20</div>
            <div class="day">21</div>
        </div>
        <div class="week">
            <div class="day">22</div>
            <div class="day">23</div>
            <div class="day">24</div>
            <div class="day">25</div>
            <div class="day">26</div>
            <div class="day">27</div>
            <div class="day">28</div>
        </div>
        <div class="week">
            <div class="day">29</div>
            <div class="day">30</div>
            <div class="day">31</div>
            <div class="day">&nbsp;</div>
            <div class="day">&nbsp;</div>
            <div class="day">&nbsp;</div>
            <div class="day">&nbsp;</div>
        </div>
    </div>
    <!-- /.month -->

    <div class="calendar-agenda">

        <div class="agenda-header">
            <span>Today</span>
            <a href="#" class="btn btn-primary btn-xs">See all</a>
        </div>
        <!-- /.agenda-header -->
        
        <div class="agenda-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-checkbox">
                        <input type="checkbox" name="agendacheck1" id="agendacheck1">
                        <label for="agendacheck1">Send an e-mail to Ivan Horvat</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-checkbox">
                        <input type="checkbox" name="agendacheck2" id="agendacheck2">
                        <label for="agendacheck2">Send receipt to company Hrvatski Telekom</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-checkbox">
                        <input type="checkbox" name="agendacheck3" id="agendacheck3">
                        <label for="agendacheck3">Send an e-mail to Ivan Horvat</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-checkbox">
                        <input type="checkbox" name="agendacheck4" id="agendacheck4">
                        <label for="agendacheck4">Send receipt to company Hrvatski Telekom</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.agenda-body -->
    </div>
    <!-- /.calendar-agenda -->

</div>
<!-- /.calendar -->