<li class="list-group-item collapse">
    <a href="#" class="collapse-toggle">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. In soluta voluptatum error?
        <i class="icon fa fa-angle-down collapser"></i>
    </a>
    <div class="collapse-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aspernatur beatae ullam placeat nostrum necessitatibus! Nihil sunt ipsam explicabo aliquid!</p>
        <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. <a href="#">Molestias commodi quisquam</a> voluptate minima, illo maiores excepturi ea repudiandae corporis quam voluptatibus dicta obcaecati voluptatem voluptatum consequatur fugit odio doloremque deleniti veritatis atque vero nulla sapiente? Consectetur beatae omnis ipsa consequatur!</p>

        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, quasi aspernatur. Expedita delectus architecto quod quo facere ut consequatur esse voluptatem dolores iste quis assumenda porro, unde modi vero odio?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, quasi aspernatur. Expedita delectus architecto quod quo facere ut consequatur esse voluptatem dolores iste quis assumenda porro, unde modi vero odio?</p>

        <h5>Lorem ipsum dolor, sit amet consectetur adipisicing?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consequuntur temporibus unde ad? Placeat non nihil, natus officiis mollitia eveniet sapiente. Optio quisquam facere qui nostrum sequi distinctio magni doloremque, officiis impedit voluptatibus ad, voluptatum eius iure aspernatur saepe nesciunt!</p>
        <ul class="list-arrows">
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur.</li>
        </ul>
        <br>
        
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis molestias labore enim accusantium dignissimos voluptatibus culpa quisquam? Ad, temporibus nam unde tempora velit totam perferendis. Corporis dignissimos cumque, quae accusamus magnam sed in ad nemo doloremque et eum accusantium aliquam atque veniam perferendis maiores ex nihil? Vel reprehenderit magnam facilis.</p>
        <ol class="list-numbers">
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit.</li>
        </ol>
        <br>
        <br>
        <figure>
            <img src="http://placehold.it/800x300" alt="Image" class="img-responsive">
            <figcaption>An example description</figcaption>
        </figure>
    </div>
</li>	