<section class="dashboard">

	<ul class="page-stats">
		<li class="page-stats--item">
			<span class="page-stats--title">Current (12 days left)</span>
			<span class="page-stats--amount">$24,597.00</span>
		</li>
		<li class="page-stats--item">
			<span class="page-stats--title">Last month</span>
			<span class="page-stats--amount">$35,097.00</span>
		</li>
		<li class="page-stats--item">
			<span class="page-stats--title">Projected for this month</span>
			<span class="page-stats--amount">$36,097.00</span>
		</li>
		<li class="page-stats--item">
			<span class="page-stats--title">Budget</span>
			<span class="page-stats--amount">$35,000.00</span>
		</li>
		<li class="page-stats--item">
			<span class="page-stats--title">Cost velocity</span>
			<span class="page-stats--amount">5.8%</span>
		</li>
	</ul>
	
</section>
<!-- /.dashboard -->