<li class="menu-item has-submenu @@active">
    <a href="@@url" data-title="@@title">
        <span class="menu-item--icon"><img src="assets/images/menu-icons/@@icon.svg" width="30"/></span>
        <span class="menu-item--title @@display-title">@@title</span>
    </a>
    <ul class="submenu-items">
        <li class="submenu-item @@submenu-active-one">
            <a href="@@submenu-url" data-title="@@submenu-title-one">
                <span class="submenu-item--title @@display-submenu-title">@@submenu-title-one</span>
            </a>
        </li>
        <li class="submenu-item  @@submenu-active-two">
            <a href="@@submenu-url" data-title="@@submenu-title-two">
                <span class="submenu-item--title @@display-submenu-title">@@submenu-title-two</span>
            </a>
        </li>
        <li class="submenu-item  @@submenu-active-three">
            <a href="@@submenu-url" data-title="@@submenu-title-three">
                <span class="submenu-item--title @@display-submenu-title">@@submenu-title-three</span>
            </a>
        </li>
    </ul>
</li>