// DASHBOARD
.dash-graphs {
    margin-bottom: $size-30;
}

// Page stats
.page-stats {
    padding: 0;
    margin-bottom: $size-10;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -$size / 2;
    margin-right: -$size / 2;

    & > li {
        background-color: $white;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $size-10 $size;
        margin-left: $size / 2;
        margin-right: $size / 2;
        margin-bottom: $size-10;

        @include breakpoint(sm) {
            margin-bottom: 0;
        }

        &:last-child {
            // margin-left: $size * 0.16 !important;
            // margin-right: $size * 0.16 !important;
        }

        .page-stats--title {
            font-family: $font-light;
            text-transform: uppercase;
            font-size: $font-size-10;
            letter-spacing: normal;
        }

        .page-stats--amount {
            font-family: $font-bold;
            font-size: $font-size-24;
            color: theme-colors(primary);
        }
    }
}