// DASHBOARD
.page-dashboard {
    // Hero
    .hero {
        padding-bottom: 0;
        height: auto;
        background: linear-gradient(130deg, grey(100) 0%, $white 35%, grey(100) 100%);
        // background: none;

        // Remove background image
        &::after {
            background-image: none;
        }

        // Navbar
        .navbar {
            margin-bottom: 0;

            .nav-main {
                a {
                    color: grey(400);

                    @include hover-focus {
                        color: grey(400);
                    }
                }

                .active {
                    a {
                        color: grey(400);
                    }
                }
            }
        }

        .branding {
            padding: 0;
        }
    }

    // Cost history
    .cost-history {
        padding: $size;
        padding-bottom: 0 !important;
        position: relative;
        z-index: 2;

        @include breakpoint(md) {
            padding: $size * 2;
        }

        .panel {
            background-color: rgba($white, 0);

            .panel-header {
                text-align-last: left;
                // padding-left: 0;
                // padding-right: 0;
                border-bottom: 0 !important;

                .dropdown {
                    display: inline-block;
                    font-family: $font-bold;
                }
            }

            .panel-body {
                background-color: transparent;
                padding: 0;
            }

            // Panel legend
            &.panel-legend {
                .panel-header {
                    display: none;

                    @include breakpoint(xl) {
                        display: block;
                    }
                }
            }
        }
    }
}

.dash-graphs {
    margin-bottom: $size-30;
}

// Page stats
.page-stats {
    padding: 0;
    margin-bottom: $size-10;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -$size / 2;
    margin-right: -$size / 2;

    & > li {
        background-color: $white;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $size-10 $size;
        margin-left: $size / 2;
        margin-right: $size / 2;
        margin-bottom: $size-10;

        @include breakpoint(sm) {
            margin-bottom: 0;
        }

        &:last-child {
            // margin-left: $size * 0.16 !important;
            // margin-right: $size * 0.16 !important;
        }

        .page-stats--title {
            font-family: $font-light;
            text-transform: uppercase;
            font-size: $font-size-10;
            letter-spacing: normal;
        }

        .page-stats--amount {
            font-family: $font-bold;
            font-size: $font-size-24;
            color: theme-colors(primary);
        }
    }
}