<aside class="page-sidebar">

    <div class="page-sidebar--heading @@page-sidebar--heading-hidden">
        <h3 class="page-sidebar--title">Stats</h3>
        <a href="#" class="page-sidebar--clearall">Hide all</a>
    </div>

    <div class="panel panel-basic">
        <header class="panel-header">
            <h3 class="panel-title">This month</h3>
        </header>
        <div class="panel-body">

            <!-- <canvas id="chartCostThisMonth" width="400" height="400"></canvas> -->
            
        </div>
    </div>
    <!-- /.panel -->


</aside>
<!-- /.page-sidebar -->