<section class="panel panel-page">

    <header class="panel-header">
        <h2 class="panel-title">Cost history</h2>

        <ul class="panel-header--actions list-inline">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-primary btn-sm">Last 12 months</a>
                <ul class="dropdown-menu dropdown-menu--right">
                    <li><a href="#">24</a></li>
                    <li><a href="#">36</a></li>
                    <li><a href="#">48</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- /.panel-header -->

    <div class="panel-body">

        <canvas id="chartCostHistory" width="400" height="400"></canvas>

    </div>
    <!-- /.panel-body -->    
    
</section>
<!-- /.panel -->