$page-sidebar-width: $sidebar-width * 1.735;
$page-sidebar-profile-width: $sidebar-width * 1.5;
$font-primary:      'Axiforma-Regular';
$font-bold:         'Axiforma-Bold';
$font-light:        'Axiforma-Light';
$font: $font-primary;

$navbar-height: $size * 3.75; // 60px

