// TEMPLATE
body {
    font-family: $font-light;
}

// Page content
.page-content {
    align-items: stretch !important;
    
    // Page sidebar
    .page-sidebar {
        
        .panel {
            height: 100%;
        }
    }
}