<nav class="navbar-tabs">
    <ul class="nav-tabs" role="tablist" id="navTabs">
        <li role="presentation" class="active">
            <a href="#dashboard" id="tabDash">
                Dashboard
            </a>
        </li>
        <li role="presentation" class="">
            <a href="#users" id="tabNav">
                Users
            </a>
        </li>
    </ul>
    <!-- /.nav-tabs -->
</nav>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dashboard">
        Dashboard
    </div>
    <div role="tabpanel" class="tab-pane" id="users">
        Users
    </div>
    <!-- /.tab-pane -->
</div>
<!-- /.tab-content -->