<nav class="navbar fade">
	Search

	<!-- NAVBAR ACTiONS -->
	<ul class="navbar-actions list-inline">
		<li class="navbar-action dropdown">
			<a href="#" class="dropdown-toggle" data-type="notification">
				<i class="navbar-action--icon fa fa-bell" data-notification="7" aria-hidden="true"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu--right">
				<li>
					<a href="#">Sample link</a>
				</li>
			</ul>
		</li>
		<li class="navbar-action dropdown">
			<a href="#" class="dropdown-toggle" data-type="notification">
				<i class="navbar-action--icon fa fa-envelope" data-notification="1" aria-hidden="true"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu--right">
				<li>
					<a href="#">Sample link</a>
				</li>
			</ul>
		</li>
		<li class="navbar-action user dropdown">
			<a href="#" class="dropdown-toggle">
				<i class="navbar-action--icon user--img fa fa-user-circle-o" aria-hidden="true"></i>
				<span class="user--name">Davorin Capan</span>
			</a>
			<ul class="dropdown-menu dropdown-menu--right">
				<li>
					<a href="#">Profile</a>
				</li>
				<li>
					<a href="#">Settings</a>
				</li>
				<li class="separator"></li>
				<li>
					<a href="#">Log out</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
<!-- /.navbar -->
