// Initium
@import "../../../node_modules/initium/src/assets/styles/_settings.scss";

// CCI setings
@import "framework/cci-settings";

@import "../../../node_modules/initium/src/assets/styles/_framework.scss";
@import "../../../node_modules/initium/src/assets/styles/_components.scss";

// CCi framework
@import "framework/template";
@import "framework/typography";

// CCi components
@import "components/navbar";
@import "components/sidebar";
@import "components/footer-main";
@import "components/branding/branding";
@import "components/pages/page-index";
@import "components/pages/page-dashboard";
@import "components/pages/page-test";
@import "components/pages/page-login";
@import "components/pages/page-wizard";
@import "components/pages/page-knowledge-base";
@import "components/pages/page-knowledge-base-all";
@import "components/page/page-panel";
@import "components/hero/hero";
@import "components/support/support";
@import "components/collapse/collapse";
@import "components/summary-treeview/summary-treeview";



/////////// TEMP
/////////////////////////////////

// .main-menu .menu-items .menu-item.active > a {
//     pointer-events: all !important;
// }

// Visibility
.visible-sm {
    display: inline;

    @include breakpoint(md) {
        display: none;
    }
}

.invisible-sm {
    display: none;

    @include breakpoint(md) {
        display: inline;
    }
}

.panel-transparent {
    .panel-header,
    .panel-body {
        padding-left: 0;
        padding-right: 0;
    }
}

// List numbers
.list-numbers {
    counter-reset: list-numbers;
    list-style: none;
    padding-left: $size * 1.5;

    li {
        margin-top: $size !important;
        margin-bottom: $size !important;
        counter-increment: list-numbers;

        &::before {
            content: counter(list-numbers);
            background-color: $green;
            display: inline-block;
            width: $size * 1.6;
            height: $size * 1.6;
            line-height: $size * 1.7;
            border-radius: $size * 1.6;
            margin-right: $size;
            font-size: $font-size-14;
            text-align: center;
            vertical-align: text-bottom;
            color: $white;
        }
    }
}

.list-legend {
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;

        @include breakpoint(xl) {
            // flex-direction: column;
        }
        
        li {
            // flex: 1;
            margin-left: $size;
            font-size: $font-size-12;
            // text-align-last: left;
            
            // @include breakpoint(xl) {
            //     font-size: $font-size-14;
            //     text-align: left;
            //     border-bottom: 1px dotted grey(200);
            //     padding-top: $size;
            //     padding-bottom: $size;
            // }

            span {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: $size / 2;

                @include border-radius($radius);
            }
        }
    }
}

.cloud-bg {
    display: block;

    @include breakpoint(md) {
        position: fixed;
        bottom: 30px;
        z-index: -1;
    }
}

$cloud-color: lighten($brand-blue, 78%);

@for $i from 1 through 5 {
    .cloud-#{$i} {
        fill: darken($cloud-color, $i * 3%);
    }
}

/////////////////////////////////


.neos-alt {
    path {
        fill: $primary !important;
    }
}



.main-menu {
    padding: $size;

    .menu-items {
        .menu-item {
            & > a {
                padding-top: $size * 0.75;
                padding-bottom: $size * 0.75;
                padding-left: $size-20;

                @include border-radius($radius);

                @include hover-focus {
                    background-color: grey(100);
                    color: grey(400);
                }

                .sidebar-closed & {
                    padding-left: $size-20;
                    text-align: center;

                    .menu-item--icon {
                        margin-right: 0;
                    }
                    .menu-item--title {
                        display: none;
                    }
                }
            }

            &.has-submenu {
                & > a {
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .sidebar-closed & {
                    & > a {
                        border-bottom: 0;
                        border-bottom-right-radius: $radius;
                        border-bottom-left-radius: $radius;

                        &::after {
                            content: '';
                        }
                    }
                    .submenu-items {
                        display: none;
                    }
                }
            }
        }
    }

    .menu-item--icon {
        display: flex;
    }
}
