<div class="panel panel-@@panel-type accordion">

    <header class="panel-header">
        <a href="#" class="panel-toggle">
            <h3 class="panel-title">@@panel-title</h3>
            <i class="icon fa fa-plus" aria-hidden="true"></i>
        </a>
    </header>
    <!-- /.panel-header -->

    <div class="panel-body">

        Panel body

    </div>
    <!-- /.panel-body -->

    <footer class="panel-footer">
        <button class="btn btn-success btn-block">Start</button>
    </footer>
    <!-- /.panel-footer -->
    
</div>
<!-- /.panel -->